@font-face {
    font-family: "Segoe UI semibold";
    src: url("seguisb.ttf");
}

@font-face {
    font-family: "Billabong";
    src: url("Billabong.ttf");
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
}


.caption-title {
    font-family: 'Segoe UI semibold';
    font-weight: bold;
}